{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<div itemscope itemtype="https://schema.org/Person" class="profile_box">
  <div class="author__avatar">
    <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}" width="480" height="480" decoding="async">
  </div>

  <div class="author__content">
    <h3 class="author__name" itemprop="name">{{ author.name }}</h3>
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <ul class="author__urls">
      {% if site.description %}<li>{{ site.description }}</li>{% endif %}
      {% if author.location %}<li><span class="author__label">Location:</span> {{ author.location }}</li>{% endif %}
      {% if author.github %}<li><a href="https://github.com/{{ author.github }}">GitHub</a></li>{% endif %}
      {% if author.googlescholar %}<li><a href="{{ author.googlescholar }}">Google Scholar</a></li>{% endif %}
    </ul>
  </div>
</div>
